header section{
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinhar tudo ao centro */
    flex-direction: row; /*Para deixar em linha */
}
header nav ul{
    display: flex;
    flex-direction: row; /*Para deixar em linha */
    align-items: center;
    list-style: none;
}

header nav ul li a{
    margin: 0 15px; /*Para deixar as listas uma longe da outra */
    color: #3399CC;
}