header{
    width: 1024px;  /*Para ter uma largura maxima do conteudo , para que fique longe das bordas quando eu centralizar*/
    margin: 30px auto; /*Para Cenralizar dos lados e 30px pra cima e pra baixo*/
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinhar tudo ao centro */
}
header nav ul{
    display: flex;
    flex-direction: row; /*Para deixar em linha */
    align-items: center;
    list-style: none;
}

header nav ul li a{
    margin: 0 15px; /*Para deixar as listas uma longe da outra */
    color: #3399CC;
}